@charset "ISO-8859-1";

#table1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#table1 td, #table1 th {
    border-collapse-right: 1px solid #ddd;
    border-collapse-left: 1px solid #ddd;
    border-collapse-top: 1px solid #ddd;
    border-collapse-bottom: 1px solid #ddd;
    border-collapse: collapse;
	padding: 8px;
}

#table1 tr:nth-child(even) {
	background-color: #FFE3D8;
}

#table1 tr:hover {
	background-color: #ddd;
}

#table1 th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #F84600;
	color: white;
}

#table1 tr:last-child td:first-child {
    border-bottom-left-radius: 10px;     
}

#table1 tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

#table1 tr:first-child th:first-child {
    border-top-left-radius: 10px;
}

#table1 tr:first-child th:last-child {
    border-top-right-radius: 10px;
}